<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
        <div>
            <% if (result != '') { %> <% result.forEach(result => { %>
            <a class="single" href="/assays/<%= result._id %>">
                <h3><%= result.name %></h3>
                <p><%= result.sampType %></p>
            </a>
            <% }) %> <% } else { %>
            <p>There are no assays to display</p>
            <% } %>
        </div>

        <%- include("./partials/footer.ejs") %>
    </body>
</html>


