<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

        <div>
          <% if (assays) { %>
              <% assays.forEach(assay => { %>
                <a href="/assays/<%= assay._id %>">
                  <h3><%= assay.name %></h3>
                </a>
              <% }) %> 
          <% } else { %>
              <p>There are no assays to display</p>
          <% } %>
        </div>
         <%- include("./partials/footer.ejs") %>
    </body>
</html>
